<a href="https://colab.research.google.com/github/anupama0527/anupama0527.github.io/blob/main/basics_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

basics of python

In [ ]:
print("hello world!")

hello world!

In [ ]:
print("hello\nworld")

hello
world

In [ ]:
print(" first line \n second line\n third line")

 first line
 second line
 third line

In [ ]:
print("""first line 
second line 
thrid line""")

first line
second line
thrid line

In [ ]:
print("hello","world",sep="---")

hello---world

In [ ]:
print("hello","world",sep=" ")
print("hello","world",sep="---")
print("hello","world",sep="\n")

hello world
hello---world
hello
world

In [ ]:
(10-5)*2

10

In [ ]:
10%5

0

In [ ]:
10-5*2

0

In [ ]:
print(3//2)
print(10-5*2)

1
0

In [ ]:
10-5*2
(10-5)*2

10

In [ ]:
round(1.3)

1

In [ ]:
round(1.555,2)

1.55

In [ ]:
a= input()

1

In [ ]:
b=input()

2

In [ ]:
c=(a+b)
print(c)

12

In [ ]:
a= int(input("enter the first number:  "))
b= int(input("enter the second number:  "))
c=int(input("enter the third number:  "))
print(type(a),type(b),type(c))

enter the first number:  22
enter the second number:  36
enter the third number:  23
<class 'int'> <class 'int'> <class 'int'>

reverse of string

In [ ]:
a=input("enter the string")
print(a[::-1])

enter the stringmouna
m

In [ ]:
str1="wow"
str2=str1[::-1]
print(str1==str2)

True

In [ ]:
print(dir(str2))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
str1=input("enter trhe string:")
str1=str1.casefold()
print(str1)
str2=str1[::-1]
print(str1==str2)

enter trhe string:nAyAN
nayan
True

In [ ]:
str1=input("enter trhe string:")
str1=str1.upper()
print(str1)
str2=str1[::-1]
print(str1==str2)

enter trhe string:baab
BAAB
True

In [ ]:
age=(input("enter the age"))
print("my age is" +age)

enter the age22
my age is22

In [ ]:
# yoiurs order for 10 quantities of product_name priced at 1000 is confirmed quantity , producgt name ,price

quantity=10
product_name="product_B"
price=1000
print("your order for"+ str(quantity)+ "quantities of "+ str(product_name)+ " priced at"+str(price)+ "is confirmed")

your order for10quantities of product_B priced at1000is confirmed

conditional statements

In [ ]:
#if else
x=int(input("enter the number:"))
y=int(input("enter the number:"))
if x>y:
  print(f'{x} is greator than {y}')
elif x==y:
  print(f'{x} is equal to {y}')  
else:
  print(f'{x} is less than {y}')

enter the number:22
enter the number:22
22 is equal to 22

In [ ]:
#while loop
i=0
while i<=10:
  print(i,end=" ")
  i=i+1

0 1 2 3 4 5 6 7 8 9 10

In [ ]:
num=[1,2,3]
print(num*2)

[1, 2, 3, 1, 2, 3]

In [ ]:
#displayb of all two digits numbers where the number and it's reverse are divisible by 3
for i in range(10,100):
  temp=str(i)
  rev=int(temp[1]+temp[0])
  if i%3==0 and rev%3==0:
    print(i,end=" ")

12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [ ]:
#write the program to find the highest common factor of 2 numbers
import math
print(math.gcd(3,4))

1

In [ ]:
num1=int(input("num1: "))
num2=int(input("num2: "))
if num1>num2:
  smallest=num2
else:
  smallest=num1
for i in range(1,smallest+1):
  if num1%i==0 and num2%i==0:
    hcf=i
print(f'hcf= {hcf}')

num1: 2
num2: 3
hcf= 1

In [ ]:
l1=['a','b','c','d']
search_for = input("item for search: ")
flag1=0
flag2=0
for i in l1:
  if i==search_for:
    #print("item found") 
    flag1=1
  else:
    flag2=1  
if flag1 ==1:
    print ('item ids found')
else:
    print('item not found')

item for search: e
item not found

In [ ]:
l1=[1,2,3,4,5]
print(l1)
l1.append(6)
print(l1)

del l1[1]
print(l1)

l1.sort()
print(l1)

l1.reverse()
print(l1)

print(len(l1))

print(l1[-2])

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 3, 4, 5, 6]
[1, 3, 4, 5, 6]
[6, 5, 4, 3, 1]
5
3

create a list of squares of numbers from 0 to 9 without list comphrension


> Indented block

In [ ]:
l1=[]
for i in range(0,10):
    l1.append(i**2)
print(l1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
l1=[]
for i in range(0,50):
    l1.append(i**3)
print(l1)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649]

In [ ]:
l1=[]
for i in range(20):
    l1.append(i**2)
print(l1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

creating list with list comphrension

In [ ]:
l1=[i**2 for i in range(10)]
print(l1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
l1=[i**3 for i in range(10)]
print(l1)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

create a list of even numbers from a given list numbers with  list comphrension

In [ ]:
numbers =[1,2,3,4,5,6,7]
even_numbers=[i for i in numbers if i%2==0]
print(even_numbers)

[2, 4, 6]

In [ ]:
numbers=[1,2,3,4,5,6,7]
even=[]
for i in numbers:
  if i%2==0:
    even.append(i)
print(even)

[2, 4, 6]

ascii

In [ ]:
char1='a'
ASCII=ord(char1)
print(char1)
print(ASCII)

a
97

In [ ]:
#ASCII(a)-ASCII(A)=97-65=32
#input: a----> ASCII=97
#converst toi uppercase: 97-32


char1=input("enter the alphabet: ")
ASCII=ord(char1)
   
#input is uppercase   
if ASCII>64 and ASCII<91:
   print('input character is in upper case')
   ASCII+=32
   small_case=chr(ASCII)
   print(small_case)


elif ASCII<123 and ASCII>96:
  print('input character is in lower ccase')
  ASCII-=32
  upper_case=chr(ASCII)
  print(upper_case)  

else:
  print("invalid input")

enter the alphabet: a
input character is in lower ccase
A

In [ ]:
#tuple containing numbers fron 0 to 9
t1=tuple(range(0,10))
print(t1)
print(type(t1))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

In [ ]:
#items in tuple are ordered

t1=(1,2,3,4,5)
print(t1)
print(t1[0])

(1, 2, 3, 4, 5)
1

In [ ]:
#prg to find total time wasted purposefully by Internship canididates
end_time='11:15'
actual_time='11:35'
total_time='15'

end_time_sep=end_time.split(sep=':')
actual_time_sep=actual_time.split(sep=':')

print(end_time_sep[0],end_time_sep[1])
print(actual_time_sep[0],actual_time_sep[1])

diff_hrs=int(actual_time_sep[0])-int(end_time_sep[0])
diff_mins=int(actual_time_sep[1])-int(end_time_sep[1])
print("difference in hours:",diff_hrs)
print("difference in mins:",diff_mins)

exceed_time=diff_hrs*60+diff_mins
print(f"exceed time in mins:{exceed_time}")

exceed_time_in_perc=100*(exceed_time/total_time)
print(f"exceed time in %:{exceed_time_in_perc}")

11 15
11 35
difference in hours: 0
difference in mins: 20
exceed time in mins:20

TypeError: ignored

dictionary

In [ ]:
d1={
    'name':'anu',
    'age':22
}

In [ ]:
#get
d1={
    'name':'anu',
    'age':22
}
print(d1.get('name'))

#values
print(d1.values())

#keys
print(d1.keys())

anu
dict_values(['anu', 22])
dict_keys(['name', 'age'])

In [ ]:
d1={
    'name':'anu',
    'age':22
}

# write prg to make the name contain 22

d1['name']=22
print(d1)

#delete
del d1
print(d1)

{'name': 22, 'age': 22}

NameError: ignored

In [ ]:
#use for loop to iterate over loops

d1={
    'name':'anu',
    'age':22
}

for i in d1:
  print(i)
print()
for i,j in d1.items():
  print(f'{i}:{j}')

name
age

name:anu
age:22

In [ ]:
#function:user defined block of code which runs  when called

def function_name(par1,par2)
#function_code
function_name(val1,val2)

In [ ]:
def print_name(name='anu'):
  print(name)
print_name()

anu

In [ ]:
def print_name(*name):
  print(name)
print_name('nam1','nam2')

('nam1', 'nam2')