<a href="https://colab.research.google.com/github/anupama0527/anupama0527.github.io/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#creating a dataframe
import numpy as np
my_data=np.array([[1,2],[3,4],[5,6]])
print(my_data.shape)

(3, 2)

In [ ]:
import numpy as np
import pandas as pd
my_data=np.array([[1,2],[3,4],[5,6]])
print(my_data.shape)
my_column_names=['x','y']
my_dataframe=pd.DataFrame(data=my_data,columns=my_column_names)
print(my_dataframe)

(3, 2)
   x  y
0  1  2
1  3  4
2  5  6

In [ ]:
import numpy as np
import pandas as pd
my_data=np.array([[1,2,8],[7,3,4],[9,5,6],[6,6,7]])
print(my_data.shape)
my_column_names=['x','y','z']
my_dataframe=pd.DataFrame(data=my_data,columns=my_column_names)
print(my_dataframe)

(4, 3)
   x  y  z
0  1  2  8
1  7  3  4
2  9  5  6
3  6  6  7

In [ ]:
#addition of two columns
my_data=np.array([[1,2],[3,4],[5,6]])
print(my_data.shape)
my_column_names=['x','y']
my_dataframe=pd.DataFrame(data=my_data,columns=my_column_names)
my_dataframe['a']=my_dataframe['x']+my_dataframe['y']
print(my_dataframe)

(3, 2)
   x  y   a
0  1  2   3
1  3  4   7
2  5  6  11

In [ ]:
my_data=np.array([[1,2],[3,4],[5,6]])
print(my_data.shape)
my_column_names=['x','y']
my_dataframe=pd.DataFrame(data=my_data,columns=my_column_names)
my_dataframe['a']=my_dataframe['x']+my_dataframe['y']
my_dataframe['b']=my_dataframe['x']+my_dataframe['y']+my_dataframe['a']
print(my_dataframe)

(3, 2)
   x  y   a   b
0  1  2   3   6
1  3  4   7  14
2  5  6  11  22

In [ ]:
my_data=pd.read_csv('Book1.csv')
print(my_data)

   col1  col2  col3
0     1     4     5
1     2     5     7
2     3     6     9

In [ ]:
my_data=pd.read_csv('https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv')
print(my_data)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]

In [ ]:
my_data=pd.read_csv('/content/pandas_BMI.csv')
print(my_data)

   weight  height        BMI
0      50    1.60  19.531250
1      51    1.61  19.675167
2      52    1.62  19.814053
3      53    1.63  19.948060
4      54    1.64  20.077335
5      55    1.65  20.202020
6      56    1.67  20.079601
7      57    1.68  20.195578

In [ ]:
df=pd.DataFrame({
    'col1':[1,2,3],
    'col2':[4,5,6]
})
print(df)

   col1  col2
0     1     4
1     2     5
2     3     6